/*
* Global
*/

html {
	height: initial;
	min-height: 100%;
	overflow-x: hidden;
	position: relative;
}

body {
	margin-bottom: 150px;
}

#content {
	margin-top: 50px;
	padding-top: 20px;
}

.vertical-center {
	min-height: 100%; /* Fallback for vh unit */
	min-height: 100vh;
	/* You might also want to use
						   'height' property instead.

						   Note that for percentage values of
						   'height' or 'min-height' properties,
						   the 'height' of the parent element
						   should be specified explicitly.

						   In this case the parent of '.vertical-center'
						   is the <body> element */

	/* Make it a flex container */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	/* Align the bootstrap's container vertically */
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	/* In legacy web browsers such as Firefox 9
	   we need to specify the width of the flex container */
	width: 100%;

	/* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
	   hence the bootstrap's container won't be aligned to the center anymore.

	   Therefore, we should use the following declarations to get it centered again */
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.clippy {
	margin-top: -2px;
	width: 15px;
}

.tooltip-inner {
	white-space: nowrap;
	max-width: none;
}

#loader {
	display: none;
	margin-top: 20px;

	left: 50%;
	position: absolute;
	z-index: 100;
}

#loader > div {
	background-color: #149bdf;
	padding: 50px 80px;

	position: relative;
	left: -50%;
}

#loader h4 {
	color: white;
	margin-bottom: 0;
}

/*
* Intro
*/

.intro-header {
	height: 100%;
	padding-bottom: initial;
}

.intro-message {
	position: initial;
	padding: initial;
}

/*
* Correlations
*/

#range-slider {
	width: 100%;
}

#share-clipboard {
	margin-bottom: 20px;
}

.pagination {
	margin-top: 0;
}

@media (max-width: 768px) {
	.pagination li {
		display: inline-block;
	}
}

/*
* Footer
*/
.footer {
	bottom: 0;
	position: absolute;
	height: 150px;
	width: 100%;
}
